.d2fvtt-message {
  display: flex;
  flex-direction: column;

  &.deleted {
    text-decoration: line-through;
  }

  video {
    width: 100%;
  }
}

.chat-message .message-header {
  .fa-discord {
    align-self: center;
    flex: unset;
    margin-right: 0.25em;
  }

  &.with-image > .fa-discord {
    grid-area: user / details;
  }
}
